body {
  background-image: url(../Images/newnewbackground.png);
  background-size: cover;
}
.App {
  text-align: center;
}
.navbar {
  background-color: #fff !important;
  box-shadow: 0 0 10px rgb(0 0 0 / 9%);
  padding: 0px !important;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 50px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 17px;
}
.nav-item {
  color:black !important;
}
.nav-name {
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  color: red
}
#home {
  margin: 100px;
  padding: 20px;
}
.hero-img {
  border-radius: 50%;
  max-height: 300px;
  max-width: 300px;
  display: block;
  margin: auto;

}
.btn-format {
  display: block;
  margin: auto;
}
.btn {
  margin-top: 10px !important;
  background-color: red !important;
  font-family: 'Titillium Web', sans-serif !important;
  font-weight: 700 !important;
  color: black !important;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%) !important;
  border: none !important;
}
.home-text {
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
#home-name {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 100px;
  color: red;

}
#work-name {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 100px;
  color: red;

}
.card {
  margin-top: 25px;
  color:rgb(56, 55, 55);
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.projimg {
  height: auto;
  width: 400px
}
#work {
  margin: 50px
}
.highlight {
  color: red;
}
.tech-stack {
  text-align: left;
}
li {
  display: inline;
  margin: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;

}
.icons {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  padding: 8px;
  background-color: red;
}
.list1 {
  margin-top: 30px;
}
.list2 {
  margin: 19px !important;
}

